body{
    background-color: rgb(192, 224, 236);
    display: flexbox;
}
.container{
    display: flexbox;
    text-align: center;
    background-color: white;
    width: 450px;
    margin: 100px 400px;
    border: none;
    border-radius: 10px;
}
.ann{
    height: 30px;
    width: 350px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    padding: 20px;
    background-color: hsl(220, 16%, 96%);
}
.ann img{
    width: 50px;
    height: 40px;
}


#btn{
    background-color: blue;
    margin: 20px;
    margin-bottom: 0px;
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-shadow: -1px 10px 10px rgb(168, 168, 214);
}
#cancel{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

} 
.order{
    font-size: 20px;
    text-align: center;
}  
.plan{
    line-height: 5px;
    transform: translateY(-10px);
} 
#hmm{
    font-weight: bold;
}  
a{
    color: blue;
}
#image img{
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

